html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: #accfeb;
}

#table {
   width: 100%;
   height: 100%;
   overflow: auto;
   display: grid;
   justify-content: space-around;
   padding-top: 5%;
   background-color: #accfeb;
}

#graph {
   width: 100%;
   height: 100%;
   overflow: auto;
   display: grid;
   align-content: center;
   background-color: #accfeb;
   padding-top: 5%;
   padding-left: 2%;
   padding-right: 2%;
}

.table-row {
  width: 100%;
  height: 100%;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: solid 1px #000;
  border-top: none;
  background-color: white;
  justify-items: center;
}

.table-row:first-child {
    border-top: solid 1px #000;
    font-weight: bolder;
    font-size: xxx-large;
}